.footerNew {
    color: white;
    text-align: center;
    margin-top: 5px;
    .footerContacto{
        background-color: #333030;
        width: 100%;
        padding: 0;
        margin: 20;
        height: 25vh;
        margin-top: 100px;
        padding-left:0;
        .copyright {
            font-size: 15px;
            padding-top: 0%;
        }
    }
}

@media (max-widht:600px) {
    .footerContacto{
        height: 100vh;
    }
}