.mainCuriosidades {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    padding: 0;
    background-size: 400px;
    background-image: url(../assets/img/Curiosidades.jpg);
    .curiosidades{
        width: 100%;
        align-items: center;
        object-position: center;
    }

}